In [15]:
import pandas as pd
import os

papers = pd.read_csv(
    "./rawData/sampler_10ktexts_perdecade.ALL2.tsv",
    sep='\t',
    names=["timePeriod", "index", "rawText"]
)

papers.head()

      timePeriod  index                                            rawText
0  180X.POS.rand      1                               The_DT hon_NN ._SENT
1  180X.POS.rand      2  The_DT gallant_JJ general_NN who_WP commanded_...
2  180X.POS.rand      3  But_CC ,_, Mr._NP Pitt_NP said_VBD ,_, he_PP d...
3  180X.POS.rand      4  And_CC Dr._NP Hussey_NP ,_, who_WP informs_VBZ...
4  180X.POS.rand      5  In_IN former_JJ times_NNS and_CC in_IN former_...

In [16]:
papers['timePeriod'] = papers['timePeriod'].map(lambda x: x.rstrip('X.POS.rand'))
papers['timePeriod'] = papers['timePeriod'].astype(str) + '0'
papers.head()

  timePeriod  index                                            rawText
0       1800      1                               The_DT hon_NN ._SENT
1       1800      2  The_DT gallant_JJ general_NN who_WP commanded_...
2       1800      3  But_CC ,_, Mr._NP Pitt_NP said_VBD ,_, he_PP d...
3       1800      4  And_CC Dr._NP Hussey_NP ,_, who_WP informs_VBZ...
4       1800      5  In_IN former_JJ times_NNS and_CC in_IN former_...

In [17]:
papers['timePeriod'] = pd.to_datetime(papers['timePeriod'], format='%Y')
papers['timePeriod'] = pd.DatetimeIndex(papers['timePeriod']) #.year
papers.head()

  timePeriod  index                                            rawText
0 1800-01-01      1                               The_DT hon_NN ._SENT
1 1800-01-01      2  The_DT gallant_JJ general_NN who_WP commanded_...
2 1800-01-01      3  But_CC ,_, Mr._NP Pitt_NP said_VBD ,_, he_PP d...
3 1800-01-01      4  And_CC Dr._NP Hussey_NP ,_, who_WP informs_VBZ...
4 1800-01-01      5  In_IN former_JJ times_NNS and_CC in_IN former_...

In [18]:
#reducedPapers = papers[papers["timePeriod"].isin(pd.date_range("1800-01-01", "1830-01-01"))]
#reducedPapers = papers[papers["timePeriod"].isin(pd.date_range("1800-01-01", "1890-01-01"))]
reducedPapers = papers[papers["timePeriod"].isin(pd.date_range("1800-01-01", "1820-01-01"))]
#reducedPapers = papers
reducedPapers.head()
#reducedPapers.tail()

  timePeriod  index                                            rawText
0 1800-01-01      1                               The_DT hon_NN ._SENT
1 1800-01-01      2  The_DT gallant_JJ general_NN who_WP commanded_...
2 1800-01-01      3  But_CC ,_, Mr._NP Pitt_NP said_VBD ,_, he_PP d...
3 1800-01-01      4  And_CC Dr._NP Hussey_NP ,_, who_WP informs_VBZ...
4 1800-01-01      5  In_IN former_JJ times_NNS and_CC in_IN former_...

In [53]:
import nltk
from gensim.utils import simple_preprocess
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')

stop_words = set(nltk.corpus.stopwords.words('english'))
stop_words.update({'hon', 'mr', 'gentleman', 'gent', 'gen', 'right', 'would', 'could', 'upon'})
allowed_postags = ["NN", "NNS", "NNP", "NNPS", "JJ", "JJR", "JJS", "VB", "VBD", "VBG", "VBN", "VBP", "VBZ", "RB", "RBR", "RBS"]
wn = WordNetLemmatizer()

def preprocess_text(text):
    tokens = simple_preprocess(text)
    clean = [word.split('_')[0] for word in tokens if '_' in word and word.split('_')[1].upper() in allowed_postags]
    words = [word for word in clean if word.isalpha()]
    lemmas = [wn.lemmatize(word) for word in words if word not in stop_words]
    return " ".join(lemmas)

reducedPapers.loc[:, 'processedText'] = reducedPapers['rawText'].apply(preprocess_text).astype(str)
reducedPapers.loc[:, 'processedText'] = reducedPapers['processedText'].astype("str")
reducedPapers.dropna(subset = ['processedText'], inplace = True, how='any')
reducedPapers.reset_index(drop=True, inplace=True)
reducedPapers.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sandr\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\sandr\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sandr\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

,timePeriod,index,rawText,processedText
0,1800-01-01,1,The_DT hon_NN ._SENT,
1,1800-01-01,2,The_DT gallant_JJ general_NN who_WP commanded_...,gallant general commanded well knew soon arrive
2,1800-01-01,3,"But_CC ,_, Mr._NP Pitt_NP said_VBD ,_, he_PP d...",said doubted necessary insert clause bill purp...
3,1800-01-01,4,"And_CC Dr._NP Hussey_NP ,_, who_WP informs_VBZ...",informs romish bishop appointed pope pastoral ...
4,1800-01-01,5,In_IN former_JJ times_NNS and_CC in_IN former_...,former time former war invasion often threaten...

In [54]:
reducedPapers.to_csv('./processedData/processedData.csv', sep=',')

In [55]:
test = pd.read_csv(
    "./processedData/processedData.csv",
    sep=','
)
test.head()

,Unnamed: 0,timePeriod,index,rawText,processedText
0,0,1800-01-01,1,The_DT hon_NN ._SENT,NaN
1,1,1800-01-01,2,The_DT gallant_JJ general_NN who_WP commanded_...,gallant general commanded well knew soon arrive
2,2,1800-01-01,3,"But_CC ,_, Mr._NP Pitt_NP said_VBD ,_, he_PP d...",said doubted necessary insert clause bill purp...
3,3,1800-01-01,4,"And_CC Dr._NP Hussey_NP ,_, who_WP informs_VBZ...",informs romish bishop appointed pope pastoral ...
4,4,1800-01-01,5,In_IN former_JJ times_NNS and_CC in_IN former_...,former time former war invasion often threaten...