In [80]:
import pandas as pd
import os

papers = pd.read_csv(
    "./rawData/sampler_10ktexts_perdecade.ALL2.tsv",
    sep='\t',
    names=["timePeriod", "index", "rawText"]
)

papers.head()

      timePeriod  index                                            rawText
0  180X.POS.rand      1                               The_DT hon_NN ._SENT
1  180X.POS.rand      2  The_DT gallant_JJ general_NN who_WP commanded_...
2  180X.POS.rand      3  But_CC ,_, Mr._NP Pitt_NP said_VBD ,_, he_PP d...
3  180X.POS.rand      4  And_CC Dr._NP Hussey_NP ,_, who_WP informs_VBZ...
4  180X.POS.rand      5  In_IN former_JJ times_NNS and_CC in_IN former_...

In [81]:
papers['timePeriod'] = papers['timePeriod'].map(lambda x: x.rstrip('X.POS.rand'))
papers['timePeriod'] = papers['timePeriod'].astype(str) + '0'
papers.head()

  timePeriod  index                                            rawText
0       1800      1                               The_DT hon_NN ._SENT
1       1800      2  The_DT gallant_JJ general_NN who_WP commanded_...
2       1800      3  But_CC ,_, Mr._NP Pitt_NP said_VBD ,_, he_PP d...
3       1800      4  And_CC Dr._NP Hussey_NP ,_, who_WP informs_VBZ...
4       1800      5  In_IN former_JJ times_NNS and_CC in_IN former_...

In [82]:
papers['timePeriod'] = pd.to_datetime(papers['timePeriod'], format='%Y')
papers['timePeriod'] = pd.DatetimeIndex(papers['timePeriod']) #.year
papers.head()

  timePeriod  index                                            rawText
0 1800-01-01      1                               The_DT hon_NN ._SENT
1 1800-01-01      2  The_DT gallant_JJ general_NN who_WP commanded_...
2 1800-01-01      3  But_CC ,_, Mr._NP Pitt_NP said_VBD ,_, he_PP d...
3 1800-01-01      4  And_CC Dr._NP Hussey_NP ,_, who_WP informs_VBZ...
4 1800-01-01      5  In_IN former_JJ times_NNS and_CC in_IN former_...

In [83]:
#reducedPapers = papers[papers["timePeriod"].isin(pd.date_range("1800-01-01", "1830-01-01"))]
#reducedPapers = papers[papers["timePeriod"].isin(pd.date_range("1800-01-01", "1890-01-01"))]
reducedPapers = papers[papers["timePeriod"].isin(pd.date_range("1800-01-01", "1820-01-01"))]
#reducedPapers = papers
reducedPapers.head()
#reducedPapers.tail()

  timePeriod  index                                            rawText
0 1800-01-01      1                               The_DT hon_NN ._SENT
1 1800-01-01      2  The_DT gallant_JJ general_NN who_WP commanded_...
2 1800-01-01      3  But_CC ,_, Mr._NP Pitt_NP said_VBD ,_, he_PP d...
3 1800-01-01      4  And_CC Dr._NP Hussey_NP ,_, who_WP informs_VBZ...
4 1800-01-01      5  In_IN former_JJ times_NNS and_CC in_IN former_...

In [84]:
import nltk
from gensim.utils import simple_preprocess
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')

stop_words = set(nltk.corpus.stopwords.words('english'))
stop_words.update({
    'hon',
    'mr',
    'gentleman',
    'gent', 'gen',
    'right',
    'house',
    'opinion',
    'sir',
    'say',
    'friend',
    'member',
    'think',
    'go'
})

wn = WordNetLemmatizer()

def lemmatize(word):
    if '_' not in word: return ""
    token, posStart = word.split('_')[0].lower(), word.split('_')[1].upper()
    if posStart.startswith('N'):
        return wn.lemmatize(token, wordnet.NOUN)
    elif posStart.startswith('V'):
        return wn.lemmatize(token, wordnet.VERB)
    elif posStart.startswith('R'):
        return wn.lemmatize(token, wordnet.ADV)
    elif posStart.startswith('J'):
        return wn.lemmatize(token, wordnet.ADJ)
    return ""



def preprocess_text(text):
    tokens = simple_preprocess(text)
    clean = [lemmatize(word) for word in tokens if lemmatize(word)!=""]
    words = [word for word in clean if word.isalpha()]
    lemmas = [word for word in words if word not in stop_words]
    return " ".join(lemmas)

reducedPapers.loc[:, 'processedText'] = reducedPapers['rawText'].apply(preprocess_text).astype(str)
reducedPapers.loc[:, 'processedText'] = reducedPapers['processedText'].astype("str")
reducedPapers.dropna(subset = ['processedText'], inplace = True, how='any')
reducedPapers.reset_index(drop=True, inplace=True)
reducedPapers.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sandr\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\sandr\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sandr\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
C:\Users\sandr\AppData\Local\Temp\ipykernel_14132\2273334128.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reducedPapers.loc[:, 'processedText'] = reducedPapers['rawText'].apply(preprocess_text).astype(str)
C:\Users\sandr\AppData\Local\Temp\ipykernel_14132\2273334128.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reducedPapers.dropna(subset = ['processedText'], inplace = True, how='any')

,timePeriod,index,rawText,processedText
0,1800-01-01,1,The_DT hon_NN ._SENT,
1,1800-01-01,2,The_DT gallant_JJ general_NN who_WP commanded_...,gallant general command well know soon arrive
2,1800-01-01,3,"But_CC ,_, Mr._NP Pitt_NP said_VBD ,_, he_PP d...",pitt doubt necessary insert clause bill purpos...
3,1800-01-01,4,"And_CC Dr._NP Hussey_NP ,_, who_WP informs_VBZ...",hussey inform romish bishop waterford appoint ...
4,1800-01-01,5,In_IN former_JJ times_NNS and_CC in_IN former_...,former time former war invasion often threaten...

In [85]:
reducedPapers.to_csv('./processedData/processedData.csv', sep=',', columns=['timePeriod', 'index', 'processedText'])

In [86]:
test = pd.read_csv(
    "./processedData/processedData.csv",
    sep=','
)
test.head()

,Unnamed: 0,timePeriod,index,processedText
0,0,1800-01-01,1,NaN
1,1,1800-01-01,2,gallant general command well know soon arrive
2,2,1800-01-01,3,pitt doubt necessary insert clause bill purpos...
3,3,1800-01-01,4,hussey inform romish bishop waterford appoint ...
4,4,1800-01-01,5,former time former war invasion often threaten...