In [3]:
import pandas as pd
import os

papers = pd.read_csv(
    "../rawData/sampler_10ktexts_perdecade.ALL2.tsv",
    sep='\t',
    names=["timePeriod", "index", "rawText"]
)

papers.head()

      timePeriod  index                                            rawText
0  180X.POS.rand      1                               The_DT hon_NN ._SENT
1  180X.POS.rand      2  The_DT gallant_JJ general_NN who_WP commanded_...
2  180X.POS.rand      3  But_CC ,_, Mr._NP Pitt_NP said_VBD ,_, he_PP d...
3  180X.POS.rand      4  And_CC Dr._NP Hussey_NP ,_, who_WP informs_VBZ...
4  180X.POS.rand      5  In_IN former_JJ times_NNS and_CC in_IN former_...

In [4]:
papers['timePeriod'] = papers['timePeriod'].map(lambda x: x.rstrip('X.POS.rand'))
papers['timePeriod'] = papers['timePeriod'].astype(str) + '0'
papers.head()

  timePeriod  index                                            rawText
0       1800      1                               The_DT hon_NN ._SENT
1       1800      2  The_DT gallant_JJ general_NN who_WP commanded_...
2       1800      3  But_CC ,_, Mr._NP Pitt_NP said_VBD ,_, he_PP d...
3       1800      4  And_CC Dr._NP Hussey_NP ,_, who_WP informs_VBZ...
4       1800      5  In_IN former_JJ times_NNS and_CC in_IN former_...

In [5]:
papers['timePeriod'] = pd.to_datetime(papers['timePeriod'], format='%Y')
papers['timePeriod'] = pd.DatetimeIndex(papers['timePeriod']) #.year
papers.head()

  timePeriod  index                                            rawText
0 1800-01-01      1                               The_DT hon_NN ._SENT
1 1800-01-01      2  The_DT gallant_JJ general_NN who_WP commanded_...
2 1800-01-01      3  But_CC ,_, Mr._NP Pitt_NP said_VBD ,_, he_PP d...
3 1800-01-01      4  And_CC Dr._NP Hussey_NP ,_, who_WP informs_VBZ...
4 1800-01-01      5  In_IN former_JJ times_NNS and_CC in_IN former_...

In [19]:
#reducedPapers = papers[papers["timePeriod"].isin(pd.date_range("1800-01-01", "1830-01-01"))]
#reducedPapers = papers[papers["timePeriod"].isin(pd.date_range("1800-01-01", "1890-01-01"))]
#reducedPapers = papers[papers["timePeriod"].isin(pd.date_range("1800-01-01", "1820-01-01"))]
reducedPapers = papers.groupby("timePeriod").sample(frac=0.2, random_state=42)
#reducedPapers = papers
reducedPapers.tail()
#reducedPapers.tail()

       timePeriod  index                                            rawText
153236 2000-01-01    953                I_PP now_RB invite_VB hon_NN ._SENT
156597 2000-01-01   4495  <lb/> There_EX is_VBZ a_DT whole_JJ range_NN o...
158459 2000-01-01   6637  It_PP says_VBZ :_: <quote> "_`` We_PP recognis...
156722 2000-01-01   4620  At_IN this_DT early_JJ stage_NN ,_, it_PP woul...
158033 2000-01-01   6085  I_PP want_VBP this_DT Minister_NP to_TO tell_V...

In [20]:
import nltk
from gensim.utils import simple_preprocess
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')

stop_words = set(nltk.corpus.stopwords.words('english'))
stop_words.update({
    'hon',
    'mr',
    'gentleman',
    'gent', 'gen',
    'right',
    'house',
    'opinion',
    'sir',
    'say',
    'friend',
    'member',
    'think',
    'go',
    'motion'
})

wn = WordNetLemmatizer()

def lemmatize(word):
    if '_' not in word: return ""
    token, posStart = word.split('_')[0].lower(), word.split('_')[1].upper()
    if posStart.startswith('N'):
        return wn.lemmatize(token, wordnet.NOUN)
    elif posStart.startswith('V'):
        return wn.lemmatize(token, wordnet.VERB)
    elif posStart.startswith('R'):
        return wn.lemmatize(token, wordnet.ADV)
    elif posStart.startswith('J'):
        return wn.lemmatize(token, wordnet.ADJ)
    return ""



def preprocess_text(text):
    tokens = simple_preprocess(text)
    clean = [lemmatize(word) for word in tokens if lemmatize(word)!=""]
    words = [word for word in clean if word.isalpha()]
    lemmas = [word for word in words if word not in stop_words]
    return " ".join(lemmas)

reducedPapers.loc[:, 'processedText'] = reducedPapers['rawText'].apply(preprocess_text).astype(str)
reducedPapers.loc[:, 'processedText'] = reducedPapers['processedText'].astype("str")
reducedPapers.dropna(subset = ['processedText'], inplace = True, how='any')
reducedPapers.reset_index(drop=True, inplace=True)
reducedPapers.info()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sandr\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\sandr\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sandr\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32305 entries, 0 to 32304
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timePeriod     32305 non-null  datetime64[ns]
 1   index          32305 non-null  int64
 2   rawText        32305 non-null  object
 3   processedText  32305 non-null  object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 1009.7+ KB

In [21]:
reducedPapers.to_csv('../processedData/processedData.csv', sep=',', columns=[ 'index','timePeriod', 'processedText'])

In [22]:
test = pd.read_csv(
    "../processedData/processedData.csv",
    sep=',',
    index_col=0
)
test.tail()
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32305 entries, 0 to 32304
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          32305 non-null  int64
 1   timePeriod     32305 non-null  object
 2   processedText  30447 non-null  object
dtypes: int64(1), object(2)
memory usage: 1009.5+ KB